---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

// Pull the collection using the modern Loader framework
const blogEntries = await getCollection('blog');
const chronologicalEntries = blogEntries.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle="Maricel C - Home">
  <section class="intro-block">
    <img src="../icons/computer_explorer_2k-4.png" />
    <h1>Hi, I'm Maricel</h1>
    <p>I'm a student who likes to build stuff and write sometimes. This is my little spot on the internet.</p>
  </section>

  <section class="projects-grid">
    <h2>Projects</h2>
    <article class="feed-card">
      <h3 class="card-title">
        <a href="./project/portfolio-tracker/">Portfolio Tracker</a>
      </h3>
      <p class="card-desc">this is desc</p>
      <div class="badge-row">
        <a class="tag-badge">React.js</a>
      </div>
    </article>
    <article class="feed-card">
      <h3 class="card-title">
        <a href="">tes</a>
      </h3>
      <p class="card-desc">this is desc</p>
      <div class="badge-row">
        <a class="tag-badge">React.js</a>
      </div>
    </article>
  </section>

  <section class="feed-grid">
    <h2>Writings</h2>
    {chronologicalEntries.map((post) => (
      <article class="feed-card">
        <h3 class="card-title">
          <a href={`./blog/${post.id}`}>{post.data.title}</a>
        </h3>
        <p class="card-desc">{post.data.description}</p>
        <div class="badge-row">
          {post.data.tags.map((tag) => (
            <a href={`./tags/${tag}`} class="tag-badge">#{tag}</a>
          ))}
        </div>
      </article>
    ))}
  </section>
</BaseLayout>
