---
import BaseLayout from "../layouts/BaseLayout.astro";
const { projectName, techStacks, demoLink, sourceLink } = Astro.props;
---

<BaseLayout pageTitle={`Project - ${projectName}`}>
    <h1>{projectName}</h1>
    <nav class="project-links">
        <a href={demoLink}>Demo</a>
        <a href={sourceLink}>Source</a>
    </nav>
    <div class="badge-row">
        {techStacks.map((stack: string) => <a class="tag-badge">{stack}</a>)}
    </div>
    <div class="content-container">
        <slot />
    </div>
</BaseLayout>
